In [1]:
from hera import toolkitHome

projectName = 'DOCUMENTATION'
gis_building_tk = toolkitHome.getToolkit(toolkitName=toolkitHome.GIS_BUILDINGS, projectName=projectName)

In [2]:
gis_building_tk.getDataSourceList()

['BNTL']

### getBuildingsFromRectangle

In [3]:
gis_building_tk.getBuildingsFromRectangle(minx=0, miny=0, maxx=100, maxy=100, dataSourceName=gis_building_tk.getDataSourceList()[0])

,UNIQ_ID,PARENT,FCODE,FTYPE,HI_PNT_X,HI_PNT_Y,HI_PNT_Z,HEIGHT,HT_LAND,FNAME,...,BLDG_HT,ADDR_ID,ADDR_COUNT,USG_ID,CMPLX_ID,CMLX_FCD,ORIG_AREA,SHAPE_Leng,SHAPE_Area,geometry
0,51662285,6133438,201,11,0.000000,0.000000,0.00,46.050,21.69,None,...,24.36,53695169,4,53955710,0,0,5580.785700,376.140944,5580.785700,"POLYGON ((179000.910 658933.190, 178864.590 65..."
1,51662296,4643098,201,11,184854.864227,675351.325394,69.66,63.670,48.13,None,...,15.54,53466450,1,53974070,0,0,3618.778950,257.146787,3618.778950,"POLYGON ((184877.300 675301.810, 184801.500 67..."
2,51662301,4605045,201,11,190112.306827,664302.385394,63.70,59.660,42.27,None,...,17.39,53742399,1,0,54452210,251,3108.940050,314.785781,3108.940050,"POLYGON ((190143.390 664286.880, 190085.730 66..."
3,51662307,4262255,201,11,178634.607327,663939.684494,95.28,95.280,16.70,None,...,78.58,53745015,3,0,0,0,4612.509100,477.839685,4612.509100,"POLYGON ((178607.457 663849.967, 178586.357 66..."
4,51662309,6496990,201,11,180242.717427,663248.595994,41.99,37.140,14.52,None,...,22.62,53811324,2,53965466,0,0,5758.713000,429.930460,5758.713000,"POLYGON ((180154.300 663212.880, 180130.000 66..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156674,64755023,0,201,11,185482.419327,673145.190094,67.33,0.000,63.81,None,...,0.00,0,0,54014303,0,0,189.291043,63.908210,189.291043,"POLYGON ((185496.956 673142.455, 185490.289 67..."
156675,64755024,0,201,11,184295.187527,675291.463494,64.86,0.000,32.29,None,...,0.00,0,0,53984417,0,0,2725.519850,204.427685,2725.519850,"POLYGON ((184309.788 675243.887, 184265.126 67..."
156676,64755026,0,201,21,0.000000,0.000000,0.00,0.000,0.00,None,...,0.00,0,0,0,64746355,151,31.936176,20.058507,31.936176,"POLYGON ((176530.834 662215.571, 176531.389 66..."
156677,53145934,5964654,201,13,0.000000,0.000000,0.00,51.555,0.00,None,...,0.00,0,0,0,54452366,251,282.191900,83.399632,405.276500,"POLYGON ((183854.200 671397.190, 183844.800 67..."
156678,53139156,4435941,201,11,0.000000,0.000000,0.00,21.500,10.09,None,...,11.41,53745293,20,0,0,0,2572.601000,275.314428,3860.819000,"POLYGON ((178399.300 662644.500, 178396.000 66..."