In [1]:
from hera import toolkitHome
from hera.measurements.GIS.utils import WSG84,ITM,convertCRS
import pandas as pd

In [2]:
projectName = "DOCUMENTATION"
tk = toolkitHome.getToolkit(toolkitHome.WINDPROFILE,projectName=projectName)
landcover_tk = toolkitHome.getToolkit(toolkitHome.GIS_LANDCOVER,projectName="DOCUMENTATION")

In [3]:
minx = 180000
miny = 665000
maxx = 190000
maxy = 675500
dxdy = 500

xarray = landcover_tk.getLandCover(minx,miny,maxx,maxy,dxdy,inputCRS=ITM,dataSourceName=landcover_tk.getDataSourceList()[0])
xarray = landcover_tk.getRoughnessFromLandcover(xarray,23,500,True)

Warning 1: Starting with GDAL 3.7, PIXELTYPE=SIGNEDBYTE is no longer used to signal signed 8-bit raster. Change your code to test for the new GDT_Int8 data type instead.
100%|███████████████████████████████████████████| 20/20 [00:00<00:00, 21.73it/s]

In [4]:
data = {
    'lat': [float(xarray[0,0].lat.values), float(xarray[1,1].lat.values)],
    'lon': [float(xarray[0,0].lon.values), float(xarray[1,1].lon.values)],
    'wind': [14, 55],
    'direction': [90,240]
}
df = pd.DataFrame(data, index=['station 1', 'station 2'])
df

                 lat        lon  wind  direction
station 1  34.786538  32.077602    14         90
station 2  34.791813  32.082128    55        240

In [5]:
tk.getWindProfile(df,xarray,50,5)

/home/salo/development/hera/hera/simulations/windProfile/toolkit.py:71: RuntimeWarning: invalid value encountered in log
  return (wind_speed * KARMAN) / (BETA * np.log((z - hc + dd) / z0))

,lat,lon,height,u,v,speed,direction
0,34.786538,32.077602,0,NaN,NaN,NaN,90.0
1,34.786538,32.077602,5,NaN,NaN,NaN,90.0
2,34.786538,32.077602,10,NaN,NaN,NaN,90.0
3,34.786538,32.077602,15,NaN,NaN,NaN,90.0
4,34.786538,32.077602,20,-297.481529,3.643098e-14,297.481529,90.0
5,34.786538,32.077602,25,-10.799917,1.322608e-15,10.799917,90.0
6,34.786538,32.077602,30,-8.667568,1.061471e-15,8.667568,90.0
7,34.786538,32.077602,35,-7.750096,9.491130e-16,7.750096,90.0
8,34.786538,32.077602,40,-7.203719,8.822011e-16,7.203719,90.0
9,34.786538,32.077602,45,-6.828310,8.362268e-16,6.828310,90.0
10,34.786538,32.077602,50,-6.548529,8.019635e-16,6.548529,90.0
11,34.791813,32.082128,0,NaN,NaN,NaN,240.0
12,34.791813,32.082128,5,NaN,NaN,NaN,240.0
13,34.791813,32.082128,10,NaN,NaN,NaN,240.0
14,34.791813,32.082128,15,NaN,NaN,NaN,240.0
15,34.791813,32.082128,20,39.452867,2.277812e+01,45.556247,240.0
16,34.791813,32.082128,25,29.638305,1.711168e+01,34.223366,240.0
17,34.791813,32.082128,30,26.116356,1.507829e+01,30.156570,240.0
18,34.791813,32.082128,35,24.137357,1.393571e+01,27.871419,240.0
19,34.791813,32.082128,40,22.815948,1.317279e+01,26.345587,240.0
20,34.791813,32.082128,45,21.847607,1.261372e+01,25.227444,240.0
21,34.791813,32.082128,50,21.095344,1.217940e+01,24.358805,240.0

In [6]:
xarray = landcover_tk.getLandCover(minx,miny,maxx,maxy,dxdy,inputCRS=ITM,dataSourceName=landcover_tk.getDataSourceList()[0])
xarray = landcover_tk.getRoughnessFromLandcover(xarray,23,500)
tk.getWindProfile(df,xarray,50,5)

Warning 1: Starting with GDAL 3.7, PIXELTYPE=SIGNEDBYTE is no longer used to signal signed 8-bit raster. Change your code to test for the new GDT_Int8 data type instead.
/home/salo/development/hera/hera/simulations/windProfile/toolkit.py:74: RuntimeWarning: divide by zero encountered in log
  return (wind_speed * BETA / KARMAN) * np.log((z) / z0)

,lat,lon,height,u,v,speed,direction
0,34.786538,32.077602,0,inf,-inf,inf,90.0
1,34.786538,32.077602,5,-73.891169,9.049058e-15,73.891169,90.0
2,34.786538,32.077602,10,-78.624857,9.628768e-15,78.624857,90.0
3,34.786538,32.077602,15,-81.393887,9.967876e-15,81.393887,90.0
4,34.786538,32.077602,20,-83.358545,1.020848e-14,83.358545,90.0
5,34.786538,32.077602,25,-84.882452,1.039510e-14,84.882452,90.0
6,34.786538,32.077602,30,-86.127575,1.054759e-14,86.127575,90.0
7,34.786538,32.077602,35,-87.180311,1.067651e-14,87.180311,90.0
8,34.786538,32.077602,40,-88.092233,1.078819e-14,88.092233,90.0
9,34.786538,32.077602,45,-88.896605,1.088669e-14,88.896605,90.0
10,34.786538,32.077602,50,-89.616140,1.097481e-14,89.616140,90.0
11,34.791813,32.082128,0,-inf,-inf,inf,240.0
12,34.791813,32.082128,5,251.395686,1.451434e+02,290.286734,240.0
13,34.791813,32.082128,10,267.500842,1.544417e+02,308.883366,240.0
14,34.791813,32.082128,15,276.921754,1.598808e+02,319.761698,240.0
15,34.791813,32.082128,20,283.605997,1.637400e+02,327.479998,240.0
16,34.791813,32.082128,25,288.790699,1.667334e+02,333.466776,240.0
17,34.791813,32.082128,30,293.026909,1.691792e+02,338.358330,240.0
18,34.791813,32.082128,35,296.608574,1.712470e+02,342.494080,240.0
19,34.791813,32.082128,40,299.711153,1.730383e+02,346.076629,240.0
20,34.791813,32.082128,45,302.447821,1.746183e+02,349.236662,240.0
21,34.791813,32.082128,50,304.895855,1.760317e+02,352.063408,240.0