<font size="+3">Unum (unit)</font>

The unum package manages physical units in python. 

Importing the unum package could be perfomed directly, but it is simpler to import it 
through hera.

In [1]:
from hera.utils.unum import *

After this import, it is possible to use the unum package as usual

In [2]:
(1*kg).asUnit(1*g)

1000.0 [g]

# Conversion between float and Unum

In many occasions we have a variable that is either float or Unum. 
In order to convert the input to unum we use the **tounit** (or **tounum**) function. 

However, if it is a float, we need to supply the units. The **tounit** will return the input if it is unum (in the input units), else, it will return an unum in the input units. 

That is,

In [3]:
ret = tounum(5,kg) # input is float, so return value will be unum
ret

5 [kg]

In [4]:
ret = tounum(5*g,kg) # input is unum, so return value will be the input
ret

0.005 [kg]

Alternatively, the function **tonumber** is dentical, except that it returns a float

In [5]:
ret = tonumber(5,kg) # input is float, so return value will be the input
ret

5

In [6]:
ret = tonumber(5*g,kg) # input is unum, so return value will be unum value in g
ret

0.005

# Hera units

The hera package defines several new useful units: 

<table style="font-size: 16px;">
    <tr>
        <td><b>Unit</b></td>
        <td><b>Description</b></td>
        <td><b>Value</b></td>
    </tr>
  <tr>
    <th colspan="3">Pressure</th>
  </tr>    
    <tr>
        <td>atm</td>
        <td>Atmosphere</td>
        <td>1.01325*bar</td>
    </tr>
    <tr>
        <td>mbar</td>
        <td>millibar (1 torr)</td>
        <td>bar/1000</td>
    </tr>
    <tr>
        <td>mmHg</td>
        <td>mm Hg</td>
        <td>atm/760.</td>
    </tr>
    <tr>
        <td>mmH2O</td>
        <td>mm H2O</td>
        <td>atm/10197.162129779</td>
    </tr>
    <tr>
        <td>torr</td>
        <td>torr (1 millibar)</td>
        <td>atm/760.</td>
    </tr>
  <tr>
    <th colspan="3">Force</th>
  </tr>  
    <tr>
        <td>dyne</td>
        <td>dyne</td>
        <td>1e-5*N</td>
    </tr>
  <tr>
    <th colspan="3">Viscosity</th>
  </tr>     
    <tr>
        <td>poise</td>
        <td>poise</td>
        <td>g/cm/s</td>
    </tr>
    <tr>
        <td>cpoise</td>
        <td>centi poise</td>
        <td>poise/10.</td>
    </tr>   
  <tr>
    <th colspan="3">Volume</th>
  </tr>     
    <tr>
        <td>mL</td>
        <td>Milli Liter</td>
        <td>1e-3 * L</td>
    </tr>       
    <tr>
        <td>uL</td>
        <td>Micro Liter</td>
        <td>1e-6 * L</td>
    </tr>       
    <tr>
        <td>nL</td>
        <td>Nano Liter</td>
        <td>1e-9 * L</td>
    </tr>           
</table>

# Converting an unum to str 

Converting unum to str with the `str` function is not reversible. That is, there is no 
simple function that converts str to unum. 

Hence, hera provides these function. 

## Converting unum $\rightarrow$ str 

Converting unum to str

In [7]:
five_kg_str = unumToStr(5*kg)
five_kg_str

'5*kg'

## Converting str $\rightarrow$ unum

In [8]:
five_kg = strToUnum(five_kg_str)
five_kg

5 [kg]

# Defining new units 

The unum package allows the user to define new pacakge as follows 

```python
newUnit   = Unum.unit(<unitName>, <the unit> ,<description>)
```

<div class="alert alert-block alert-info">
<b>Example: </b> 
    
```
>> atm   = Unum.unit('atm',1.01325*bar,'atmosphere')
```
Defines a new unit `atm` that is 1.01325*bar
</div>

In [10]:
atm.asUnit(bar)

1.01325 [bar]